@page "/addOrder"

<h3>AddOrder</h3>

<div createorder>
    <table style=" margin: auto">
        <tr><td><div class="Id-Slot" style="width: 400px">
    Id Клиента:<input type="number" @bind="Order.ClientId"/> <br />
    </div></td></tr>
        <tr><td><div class="Id-Slot" style="width: 400px">
    Цена:<input type="number" @bind="Order.Cost"/> <br />
    </div></td></tr>
        <tr><td><div class="Id-Slot" style="width: 400px">
    Дата и время начало работы:<input type="datetime-local" @bind="Order.Date"/> <br />
    </div> </td> </tr>
        <tr><td><div class="Id-Slot" style="width: 400px">
    Адрес:<input type="text" @bind="Order.Adress"/> <br />
    </div></td></tr>
        <tr><td><div class="Id-Slot" style="width: 400px">
    <button @onclick="CreateOrder">Создать</button>
    </div></td></tr>
    </table>
</div>

<div list service>
    @if (Services != null)
{
    <table style=" margin: auto">
        <tr>
            <td><div class="Id-Slot"><h3 style="text-align: center"> Id </h3> </div> </td>
            <td><div class="Id-Slot" style="width: 400px"><h3 style="text-align: center"> Наименование </h3> </div> </td>
            <td><div class="Id-Slot" style="width: 400px"><h3 style="text-align: center"> Добавить в заказ? </h3> </div> </td>
        </tr>
        @foreach (var service in Services)
        {
            <tr>
                <td><div class="Id-Slot"><h3 style="text-align: center"> @service.Id</h3></div></td>
                <td> <div class="Table-Slot"> <h3 style="text-align: center"> @service.Type </h3> </div> </td>
                <td> <div> <h3 style="text-align: center"><button @onclick="AddToList">Добавить в заказ</button>    
                </h3> </div> </td>
            </tr>
        }
    </table>
}
else
{      
    <div class="Table-Slot"></div>
    <h3>Нет доступных услуг</h3>                   
}
</div>

<div services in order>
    @if (_servicesInOrder != null)
{
    <table style=" margin: auto">
        <tr>            
            <td><div class="Id-Slot" style="width: 400px"><h3 style="text-align: center"> Наименование </h3> </div> </td>            
        </tr>
        @foreach (var service in _servicesInOrder)
        {
            <tr>               
                <td> <div class="Table-Slot"> <h3 style="text-align: center"> @service.Type </h3> </div> </td>                
            </tr>
        }
    </table>
}
else
{      
    <div class="Table-Slot"></div>
    <h3>Нет доступных услуг</h3>                   
}
</div>

@code {
    [Parameter] public EventCallback<ServiceOutputModel>BtnEvent { get; set; }
    public int Id { get; set; }
    public OrderInputModel Order;
    public List<ServiceOutputModel> Services = new List<ServiceOutputModel>();
    private List<ServiceOutputModel> _servicesInOrder = new List<ServiceOutputModel>();

    protected override void OnInitialized()
    {
        Order=new OrderInputModel();

        var manager = new ServiceManager();
        Services = manager.GetAllServices();
    }

    private void CreateOrder()
    {
        if(Order.ClientId!=null)
        {
            var om = new OrderManager();
            om.AddNewOrder(Order);
            Order=new OrderInputModel();
        }
    }

    private void AddToList()
    {
        BtnEvent.InvokeAsync(service);
        var manager = new ServiceManager();
        var s = manager.GetServiceById(Id);
        _servicesInOrder.Add(s);
        InvokeAsync(StateHasChanged);
    }
}
