@page "/services/{Id:int}"

<h3>EditService</h3>

<div>
    <span>Наименование:</span><input type="text" @bind="_service.Type"/> <br /><br />    
    <span>Удалить:</span><label><input type="checkbox" @onclick="DeleteService"/>Да</label><br /><br />
    <button @onclick="SaveChanges">Сохранить измененеия</button><br /><br />
</div>

@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public bool IsDeleted { get; set; }

	private ServiceOutputModel _service;

	protected override void OnInitialized()
	{
		_service = new ServiceManager().GetServiceById(Id);
	}

	private void DeleteService()
	{
		IsDeleted = true;
	}


	private void SaveChanges()
	{
		var s = new ServiceInputModel()
			{
				Id = _service.Id,
				Type = _service.Type,
				Cost = _service.Cost,
				IsDeleted = _service.IsDeleted
			};
			new ServiceManager().UpdateServiceById(s);
	}
}
