@page "/"
<PageTitle>Index</PageTitle>

<h1 align="center">Я смотрю в твою душу....</h1>
<p align="center">
    <img src="https://kartinkof.club/uploads/posts/2022-03/1648616661_2-kartinkof-club-p-smeshnie-kartinki-negri-2.jpg" alt="смешная картинка">
</p>