@page "/orders"

<PageTitle>Orders</PageTitle>

<table style=" margin: auto">
            <tr>               
                <td> <div class="Id-Slot" style="width: 400px"> <h3 style="text-align: center"> 
                    <a href="/addOrder"><button class="btn">Создать заказ</button></a> </h3> </div> 
                </td>
                <td> <div class="Id-Slot" style="width: 400px"> <h3 style="text-align: center"> 
                    <a href="/ObsOrder"><button class="btn">Смотреть заказы</button></a> </h3> </div> 
                </td>            
            </tr>            
        </table>

@code {
    
}