@page "/workers"
<PageTitle>Workers</PageTitle>

<h1>Workers</h1>
<div>
    <h3>добавить работягу</h3>
    <h3>открыть страницу работяги</h3>
    <h3>сортировать список по id</h3>
    <h3>сортировать список по по имени работяги</h3>
</div>
<div>
    @if (_workers.Count != 0)
    {
        <WorkersTable Workers="_workers"/>
    }
</div>


@code {
    private List<WorkerOutputModel> _workers = new List<WorkerOutputModel>();

    protected override void OnInitialized()
    {
        var manager = new WorkerManager();
        _workers = manager.GetAllWorkers();
    }
}
