<table>
    <tr>
        <td><div class="Id-Slot"> <h3 style="text-align: center">Id</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Имя</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Телефон</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Почта</h3> </div></td>
    </tr>

    @foreach (var client in Clients)
    {
        <tr>
            <td><div class="Id-Slot"> <h3 style="text-align: center">@client.Id</h3> </div></td>
            <td><div class="Table-Slot"> <h3 style="text-align: center">@client.Name</h3> </div></td>
            <td><div class="Table-Slot"> <h3 style="text-align: center">@client.Phone</h3> </div></td>
            <td><div class="Table-Slot"> <h3 style="text-align: center">@client.Mail</h3> </div></td>
        </tr>
    }
</table>

@code {
    [Parameter] public List<ClientOutputModel> Clients { get; set; }
}
