<div style="display: inline-block; text-align: center">
    <table>
        <tr style="display: inline-block;">
            <div class="Id-Slot" style="text-align: center">
                <h3 style="text-align: center">
                    <a href="/order/@Slot.Id" style="color: #7922CC"> @Slot.Id </a>
                </h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px">
                <h3>@Slot.Cost</h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px">
                <h3>@Slot.Rate</h3>
            </div>
        </tr>
        <tr>
            <div class="Table-Slot" style="text-align: center; width: 350px; height: auto">
                <h3>@Slot.Report</h3>
            </div>
        </tr>
    </table>
</div>
@code {
    [Parameter] public OrderOutputModel Slot { get; set; }
}