@inherits LayoutComponentBase

<PageTitle>RabotyagiProject.BlazorServer</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href=""> Home </NavLink>
            <NavLink class="nav-link" href="Clients"> Clients </NavLink>
            <NavLink class="nav-link" href="Orders"> Orders </NavLink>
            <NavLink class="nav-link" href="Workers"> Workers </NavLink>
            <NavLink class="nav-link" href="Timetable"> Timetable </NavLink>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
