
<table>
    <tr>
        <td><div class="Id-Slot"> <h3 style="text-align: center">Id</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Имя</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Телефон</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">Почта</h3> </div></td>
    </tr>

    @foreach (var worker in Workers)
    {
    <tr>
        <td><div class="Id-Slot"> <h3 style="text-align: center">@worker.Id</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">@worker.Name</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">@worker.Phone</h3> </div></td>
        <td><div class="Table-Slot"> <h3 style="text-align: center">@worker.Mail</h3> </div></td>
    </tr>
    }
</table>

@code {
    [Parameter] public List<WorkerOutputModel> Workers { get; set; }
}
