@inject NavigationManager Navigator
<div>
    <table style="margin: auto">
        <tr>
            <td> <div class="Id-Slot" style="width: 200px"> <h3 style="text-align: center"> Рабочий день </h3> </div> </td>
            <td> <div class="Id-Slot" style="width: 400px"> <h3 style="text-align: center"> Занятое время </h3> </div> </td>
        </tr>
        @foreach (var slot in Timetable)
        {
            <OneDayWorkerWorkTimeTemplate Id="Id" Slot="slot" BtnEvent="DeleteWorkingDay"></OneDayWorkerWorkTimeTemplate>
        }
    </table>
</div>

@code {
    [Parameter] public List<TimetableOutputModel> Timetable { get; set; }
    [Parameter] public int Id { get; set; }

    private void DeleteWorkingDay(TimetableInputModel model)
    {
        new TimetableManager().UpdateTimetableById(model);
        Navigator.NavigateTo($"/worker/{Id}", true);
    }
}